@import "tailwindcss";

@media print {

    @page {
        size: 9in 13in;
        margin: 0;
    }

    body * {
        visibility: hidden;
    }

    .print-area,
    .print-area * {
        visibility: visible;
    }

    .print-area {
        position: fixed;
        inset: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;
    }

    .qr-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .qr-image {
        width: 4in !important;
        height: 4in !important;
        margin-top: 200px;
    }

    .qr-title {
        font-size: 24pt;
        margin-bottom: 0.5in;
    }

    .qr-text {
        margin-top: 0.3in;
        font-size: 28pt;
    }
}